LIWC2001 dictionary poster.pdf
LIWC2007 dictionary poster.pdf
LIWC2015 dictionary poster.pdf
LIWC2001 dictionary poster-unlocked.pdf
LIWC2007 dictionary poster-unlocked.pdf
LIWC2015 german dictionary poster-unlocked.pdf
LIWC2015 german dictionary poster.pdf
